*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

## Ignore the entire .idea directory except specific files and subdirectories
#.idea/*
#!.idea/inspectionProfiles
#!.idea/artifacts
#!.idea/runConfigurations
#!.idea/workspace.xml
